.content {
    padding: 25px;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    /*background-color: #eef5f9;*/
}

mat-tab-group {
    margin-top: 4px;
    min-width: 1100px;
    min-height: 990px;
}

img {
    width: 350px;
    margin: 60px;
}

mat-toolbar {
    background-color: rgba(128, 128, 128, 0.2);
}

mat-card {
    width: 250px;
}

mat-card-title {
    font-size: 18px;
}

mat-form-field {
    width: 160px;
}

.small-input {
    width: 90px;
}

.big-input {
    width: 100%;
}

.center-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span {
    margin-left: 25px;
    color: rgba(0, 0, 0, 0.41)
}

.right-card {
    justify-content: space-between;
}

mat-card-content {
    margin-top: 50px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

mat-card-actions {
    display: flex;
    justify-content: space-evenly;
}

mat-progress-bar {
    height: 8px;
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

mat-checkbox {
    margin-bottom: 16px;
}

.content-plots {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    box-sizing: border-box;
    /*background-color: #eef5f9;*/
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding: 25px;
}

.plot-list {
    width: 400px;
    padding: 0;
}

.plot-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}

.settings-card {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.project-settings {
    margin: 25px 0 0 50px;
}

mat-slide-toggle {
    margin-left: 50px;
}
