mat-drawer-container {
    height: 100%;
}

mat-drawer {
    box-shadow: -2px -1px 13px 0px rgba(0, 0, 0, 0.35)
}

mat-toolbar {
    position: relative;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.38);
    z-index: 2;
}
